<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [50]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">cd</span> <span class="o">/</span><span class="n">home</span><span class="o">/</span><span class="n">wtgee</span><span class="o">/</span><span class="n">Projects</span><span class="o">/</span><span class="n">seeingstats</span><span class="o">/</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt"></div>
<div class="output_subarea output_stream output_stdout">
<pre>/home/wtgee/Projects/seeingstats
</pre>
</div>
</div>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [51]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="kn">import</span> <span class="nn">pandas</span> <span class="kn">as</span> <span class="nn">pd</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [52]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">dimm</span> <span class="o">=</span> <span class="n">pd</span><span class="o">.</span><span class="n">read_table</span><span class="p">(</span><span class="s">&#39;data/all_dimm.dat&#39;</span><span class="p">,</span> <span class="n">sep</span><span class="o">=</span><span class="s">&#39; &#39;</span><span class="p">,</span> <span class="n">header</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">index_col</span><span class="o">=</span><span class="mi">0</span><span class="p">,</span> <span class="n">names</span><span class="o">=</span><span class="p">[</span><span class="s">&#39;date&#39;</span><span class="p">,</span><span class="s">&#39;dimm&#39;</span><span class="p">],</span> <span class="n">parse_dates</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [53]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">mass</span> <span class="o">=</span> <span class="n">pd</span><span class="o">.</span><span class="n">read_table</span><span class="p">(</span><span class="s">&#39;data/all_mass.dat&#39;</span><span class="p">,</span> <span class="n">sep</span><span class="o">=</span><span class="s">&#39; &#39;</span><span class="p">,</span> <span class="n">header</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span>   <span class="n">index_col</span><span class="o">=</span><span class="mi">0</span><span class="p">,</span> <span class="n">names</span><span class="o">=</span><span class="p">[</span><span class="s">&#39;date&#39;</span><span class="p">,</span><span class="s">&#39;mass&#39;</span><span class="p">],</span> <span class="n">parse_dates</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [54]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">weather</span> <span class="o">=</span> <span class="n">pd</span><span class="o">.</span><span class="n">read_table</span><span class="p">(</span><span class="s">&#39;data/all_weather.dat&#39;</span><span class="p">,</span> <span class="n">sep</span><span class="o">=</span><span class="s">&#39; &#39;</span><span class="p">,</span> <span class="n">header</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">index_col</span><span class="o">=</span><span class="mi">0</span><span class="p">,</span> <span class="n">names</span><span class="o">=</span><span class="p">[</span><span class="s">&#39;date&#39;</span><span class="p">,</span><span class="s">&#39;wind_speed&#39;</span><span class="p">,</span><span class="s">&#39;wind_dir&#39;</span><span class="p">,</span><span class="s">&#39;temp&#39;</span><span class="p">,</span><span class="s">&#39;rel_humidity&#39;</span><span class="p">,</span><span class="s">&#39;pressure&#39;</span><span class="p">],</span> <span class="n">parse_dates</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>So what we have done is use pd.read_table to pull in each of the respective files. Nothing tricky here, just specifying the file, a space separator, no header, and our index is our first column which we use with parse_dates=True so that we will get a DatetimeIndex. We also go ahead and name our columns at the same time.</p>
<p>At this point we have three DataFrames that we would like to combine into one. However, before we can do that we need to do a little more scrubbing. </p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [55]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">dimm</span><span class="o">.</span><span class="n">index</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt">Out [55]:</div>
<div class="output_subarea output_pyout">
<pre>&lt;class &apos;pandas.tseries.index.DatetimeIndex&apos;&gt;
[2009-09-22 07:36:36, ..., 2012-09-25 19:04:17]
Length: 233060, Freq: None, Timezone: None</pre>
</div>
</div>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [56]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">dimm</span><span class="o">.</span><span class="n">head</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt">Out [56]:</div>
<div class="output_subarea output_pyout">
<div style="max-height:1000px;max-width:1500px;overflow:auto;">
<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>dimm</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>2009-09-22 07:36:36</strong></td>
      <td> 0.413705</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:38:02</strong></td>
      <td> 0.444297</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:40:53</strong></td>
      <td> 0.421856</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [57]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">mass</span><span class="o">.</span><span class="n">head</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt">Out [57]:</div>
<div class="output_subarea output_pyout">
<div style="max-height:1000px;max-width:1500px;overflow:auto;">
<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>mass</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>2009-09-22 07:35:41</strong></td>
      <td> 0.26</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:37:06</strong></td>
      <td> 0.23</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:38:33</strong></td>
      <td> 0.22</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [58]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">weather</span><span class="o">.</span><span class="n">head</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt">Out [58]:</div>
<div class="output_subarea output_pyout">
<div style="max-height:1000px;max-width:1500px;overflow:auto;">
<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>wind_speed</th>
      <th>wind_dir</th>
      <th>temp</th>
      <th>rel_humidity</th>
      <th>pressure</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>2008-12-31 23:59:00</strong></td>
      <td>  9</td>
      <td> 274</td>
      <td>-4.79</td>
      <td> 95</td>
      <td> 612.8</td>
    </tr>
    <tr>
      <td><strong>2009-01-01 00:04:00</strong></td>
      <td> 10</td>
      <td> 275</td>
      <td>-4.83</td>
      <td> 94</td>
      <td> 612.8</td>
    </tr>
    <tr>
      <td><strong>2009-01-01 00:09:00</strong></td>
      <td> 10</td>
      <td> 272</td>
      <td>-4.83</td>
      <td> 93</td>
      <td> 612.8</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>As you can see above, our DatetimeIndex for each set currently have no Frequency. Furthermore, our data is not aligned in terms of timestamps (for instance, our first dimm reading is at 07:36:36 while our first mass reading is 07:35:41). Since our weather data is in 5 minute intervals and this seems like a pretty sane default to start with, we will need to do some massaging of the dimm and mass data to get them there as well. The general technique for this would be to convert the DataFrames to a Frequency of Seconds, forward-filling (or 'pad'ding) the data while we do that and then resample all that data into 5 minute intervals using the mean values.</p>
<p>Here's where we pull out our beefy computer since we are going to be creating data values for every second for a three year period. Luckily, our work is easy while the computer's work is hard:</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [59]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">dimm</span> <span class="o">=</span> <span class="n">dimm</span><span class="o">.</span><span class="n">asfreq</span><span class="p">(</span><span class="s">&#39;S&#39;</span><span class="p">,</span> <span class="n">how</span><span class="o">=</span><span class="s">&#39;pad&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">resample</span><span class="p">(</span><span class="s">&#39;5min&#39;</span><span class="p">,</span> <span class="n">how</span><span class="o">=</span><span class="s">&#39;mean&#39;</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [60]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">mass</span> <span class="o">=</span> <span class="n">mass</span><span class="o">.</span><span class="n">asfreq</span><span class="p">(</span><span class="s">&#39;S&#39;</span><span class="p">,</span> <span class="n">how</span><span class="o">=</span><span class="s">&#39;pad&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">resample</span><span class="p">(</span><span class="s">&#39;5min&#39;</span><span class="p">,</span> <span class="n">how</span><span class="o">=</span><span class="s">&#39;mean&#39;</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [61]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">weather</span> <span class="o">=</span> <span class="n">weather</span><span class="o">.</span><span class="n">asfreq</span><span class="p">(</span><span class="s">&#39;S&#39;</span><span class="p">,</span> <span class="n">how</span><span class="o">=</span><span class="s">&#39;pad&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">resample</span><span class="p">(</span><span class="s">&#39;5min&#39;</span><span class="p">,</span> <span class="n">how</span><span class="o">=</span><span class="s">&#39;mean&#39;</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [62]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">dimm</span><span class="o">.</span><span class="n">head</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt">Out [62]:</div>
<div class="output_subarea output_pyout">
<div style="max-height:1000px;max-width:1500px;overflow:auto;">
<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>dimm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>2009-09-22 07:40:00</strong></td>
      <td> 0.429001</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:45:00</strong></td>
      <td> 0.421856</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:50:00</strong></td>
      <td> 0.636297</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [63]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">mass</span><span class="o">.</span><span class="n">head</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt">Out [63]:</div>
<div class="output_subarea output_pyout">
<div style="max-height:1000px;max-width:1500px;overflow:auto;">
<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>mass</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>2009-09-22 07:40:00</strong></td>
      <td> 0.236667</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:45:00</strong></td>
      <td> 0.230000</td>
    </tr>
    <tr>
      <td><strong>2009-09-22 07:50:00</strong></td>
      <td> 0.320000</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [64]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">weather</span><span class="o">.</span><span class="n">head</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
</pre></div>

</div>
</div>
<div class="vbox output_wrapper">
<div class="output vbox">
<div class="hbox output_area">
<div class="prompt output_prompt">Out [64]:</div>
<div class="output_subarea output_pyout">
<div style="max-height:1000px;max-width:1500px;overflow:auto;">
<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>wind_speed</th>
      <th>wind_dir</th>
      <th>temp</th>
      <th>rel_humidity</th>
      <th>pressure</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>2009-01-01 00:00:00</strong></td>
      <td>  9</td>
      <td> 274</td>
      <td>-4.79</td>
      <td> 95</td>
      <td> 612.8</td>
    </tr>
    <tr>
      <td><strong>2009-01-01 00:05:00</strong></td>
      <td> 10</td>
      <td> 275</td>
      <td>-4.83</td>
      <td> 94</td>
      <td> 612.8</td>
    </tr>
    <tr>
      <td><strong>2009-01-01 00:10:00</strong></td>
      <td> 10</td>
      <td> 272</td>
      <td>-4.83</td>
      <td> 93</td>
      <td> 612.8</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>One last simple task for now is to remove all the weather dates from 2009 that we do not have dimm and mass data for:</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [66]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">weather</span> <span class="o">=</span> <span class="n">weather</span><span class="p">[</span><span class="s">&#39;2009-09-22&#39;</span><span class="p">:</span><span class="s">&#39;2012-09-22&#39;</span><span class="p">]</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [67]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">dimm</span> <span class="o">=</span> <span class="n">dimm</span><span class="p">[</span><span class="s">&#39;2009-09-22&#39;</span><span class="p">:</span><span class="s">&#39;2012-09-22&#39;</span><span class="p">]</span>
</pre></div>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">In [68]:</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="n">mass</span> <span class="o">=</span> <span class="n">mass</span><span class="p">[</span><span class="s">&#39;2009-09-22&#39;</span><span class="p">:</span><span class="s">&#39;2012-09-22&#39;</span><span class="p">]</span>
</pre></div>

</div>
</div>
</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>So at this point we have data for a specified range of dates. Note, however, that our individual times our going to be off. For weather data we have a reading every five minutes for 24 hours each day while for the dimm and mass we have five minute intervals but only for observing times, that is, sunset to sunrise. Because of the nature of the instruments, however, the dimm and mass data don't line up precisely for what they consider sunset and sunrise. So next time we will be looking at how to get values for each of the DataFrames that actually line up.</p>
</div>